@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "sfpro";
  src: local("sfpro"), url("./fonts/SFProText-Regular.ttf") format("truetype");
}

* {
  font-family: "sfpro";
  box-sizing: border-box;
}
